.datetime-picker .date-input {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 1px;
  padding: 0 12px;
  margin-bottom: 16px;
  width: 317px;
  border: 1px solid #eeeeee;
  border-radius: 5px;
}

.datetime-picker .picker {
  width: 317px;
}

.datetime-picker .picker-body {
  border: 1px solid #eeeeee;
  border-top: none;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.datetime-picker .picker-btn {
  font-size: 14px;
  width: 50%;
  background: #ffffff;
  line-height: 32px;
  border: 1px solid #eeeeee;
  cursor: pointer;
}

.datetime-picker .picker-btn:first-child {
  border-top-left-radius: 8px;
}

.datetime-picker .picker-btn:last-child {
  border-top-right-radius: 8px;
}

.datetime-picker .picker-btn-active {
  color: #ffffff;
  background: #000000;
}

.datetime-picker .picker-btn-icon {
  margin-right: 8px;
}

/* Calendar */
.datetime-picker .cell {
  width: 35px;
  margin: 5px;
  text-align: center;
}

.datetime-picker .pointer {
  cursor: pointer;
}

.datetime-picker .calendar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 32px;
}

.datetime-picker .calendar-dates {
  display: flex;
  flex-wrap: wrap;
}

.datetime-picker .date-select {
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  border: none;
  cursor: pointer;
}

.datetime-picker .week-days {
  display: flex;
  color: #bbbbbb;
  font-size: 12px;
  line-height: 24px;
  font-weight: bold;
  border-bottom: 1px solid #eeeeee;
}

.datetime-picker .date {
  font-size: 14px;
  display: inline-block;
  line-height: 35px;
  text-align: center;
  cursor: pointer;
}

.datetime-picker .date:hover{
  background: #eeeeee;
  border-radius: 50%;
}

.datetime-picker .selected-date, .datetime-picker .selected-date:hover {
  color: #ffffff;
  background: #000000;
  border-radius: 50%;
}

.datetime-picker .outside-date {
  color: #999999;
}

/* Time */
.datetime-picker .time {
  padding: 32px;
}

.datetime-picker .time-display {
  display: flex;
  justify-content: center;
}

.datetime-picker .time-number {
  font-size: 24px;
  background: #eeeeee;
  border-radius: 8px;
  text-align: center;
  line-height: 48px;
  width: 48px;
}

.datetime-picker .time-separater {
  font-size: 24px;
  margin: 8px;
}

.datetime-picker .time-slider {
  margin-top: 16px;
}

.datetime-picker .time-slider-title {
  font-size: 14px;
  margin-bottom: 8px;
}
